@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;

}
.imagefood {
  position: relative;
  left: 0.7rem;
  height: 23vh;
    width: auto;
    border-radius: 20px;

}
.fonthead{
  font-family: 'Josefin Sans', sans-serif;

}
.headingclass{
  padding-top: 2rem;
  
  font-size: 1.9rem;
  font-weight: 600;

}

.pricecss {
  color: limegreen;
  font-size: 1.5rem;


}
.specialcss {
  color: lightslategray;


}